#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   http://haproxy.1wt.eu/download/1.4/doc/configuration.txt
#
#---------------------------------------------------------------------
# "{{ ansible_managed }}"
#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats


#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
#    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

listen stats
     bind :9000
     mode http
     stats enable
     stats uri /
     monitor-uri /healthz

frontend openshift-api-server
    bind *:6443
    default_backend openshift-api-server
    mode tcp
    option  tcplog

backend openshift-api-server
    balance source
    mode tcp
    {% if BOOTSTRAPNODE is defined %}
    {%- for node in BOOTSTRAPNODE | dict2items(key_name='name', value_name='ip') -%}
    server {{ node.name }}  {{ node.ip }}:6443 check
    {% endfor %}
    {%- endif -%}
    {% if MASTERNODES is defined %}
    {%- for node in MASTERNODES | dict2items(key_name='name', value_name='ip') -%}
    server {{ node.name }}  {{ node.ip }}:6443 check
    {% endfor %}
    {% endif %}


frontend machine-config-server
    bind *:22623
    default_backend machine-config-server
    mode tcp
    option  tcplog

backend machine-config-server
    balance source
    mode tcp
    {% if BOOTSTRAPNODE is defined %}
    {%- for node in BOOTSTRAPNODE | dict2items(key_name='name', value_name='ip') -%}
    server {{ node.name }}  {{ node.ip }}:22623 check
    {% endfor %}
    {%- endif -%}
    {% if MASTERNODES is defined %}
    {%- for node in MASTERNODES | dict2items(key_name='name', value_name='ip') -%}
    server {{ node.name }}  {{ node.ip }}:22623 check
    {% endfor %}
    {% endif %}



frontend ingress-http
    bind *:80
    default_backend ingress-http
    mode tcp
    option  tcplog

backend ingress-http
    balance source
    mode tcp
    {% if WORKERNODES is defined %}
    {%- for node in WORKERNODES | dict2items(key_name='name', value_name='ip') -%}
    server {{ node.name }}  {{ node.ip }}:80 check
    {% endfor %}
    {% endif %}


frontend ingress-https
    bind *:443
    default_backend ingress-https
    mode tcp
    option  tcplog

backend ingress-https
    balance source
    mode tcp
    {% if WORKERNODES is defined %}
    {%- for node in WORKERNODES | dict2items(key_name='name', value_name='ip') -%}
    server {{ node.name }}  {{ node.ip }}:443 check
    {% endfor %}
    {% endif %}
