{% set iface = "TYPE=Ethernet
BOOTPROTO=none
NAME=ens192
DEVICE=ens192
ONBOOT=yes
IPADDR=" ~ item.ip ~"
PREFIX=" ~ VM_PREFIX ~"
GATEWAY=" ~ VM_GATEWAY ~"
DOMAIN=" ~ OCPDOMAIN ~ "." ~ VM_DOMAIN ~"
DNS1=" ~ VM_IPADDRESS ~"
DNS2=" ~ VM_NAMESERVER
%}
{{ iface | b64encode }}
