{
    "ignition": {
        "config": {
            "append": [
                {
                    "source": "http://{{VM_IPADDRESS}}:8081/ocp4/{{role}}.ign",
                    "verification": {}
                }
            ]
        },
        "timeouts": {},
        "version": "2.1.0"
    },
    "networkd": {},
    "passwd": {},
    "storage": {
        "files": [
            {
                "contents": {
                    "source": "data:text/plain;charset=utf-8;base64,{% include "templates/hostname.j2" %}",
                    "verification": {}
                },
                "filesystem": "root",
                "group": {},
                "mode": 420,
                "path": "/etc/hostname",
                "user": {}
            },
            {
                "contents": {
                    "source": "data:text/plain;charset=utf-8;base64,{% include "templates/ifcfg-ens192.j2" %}",
                    "verification": {}
                },
                "filesystem": "root",
                "group": {},
                "mode": 420,
                "path": "/etc/sysconfig/network-scripts/ifcfg-ens192",
                "user": {}
            }
        ]
    },
    "systemd": {
        "units": [
            {
                "contents": "[Unit]\nConditionFirstBoot=yes\n[Service]\nType=idle\nExecStart=/sbin/reboot\n[Install]\nWantedBy=multi-user.target\n",
                "enabled": true,
                "name": "restart.service"
            }
        ]
    }
}
