apiVersion: v1
baseDomain: {{VM_DOMAIN}}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: {{WORKERNODES | length}}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: {{MASTERNODES | length}}
metadata:
  creationTimestamp: null
  name: "{{OCPDOMAIN}}"
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  vsphere:
    {% if CLUSTER is defined -%}
    cluster: "{{CLUSTER}}"
    {% endif -%}
    datacenter: "{{DATACENTER}}"
    defaultDatastore: "{{DATASTORE}}"
    network: "{{NETWORK}}"
    password: "{{VMWARE_PASSWORD}}"
    username: "{{VMWARE_USER}}"
    vCenter: "{{VMWARE_HOST}}"
fips: false
pullSecret: {%- if OCPPULLSECRET is defined %} '{{OCPPULLSECRET}}'
{% endif -%}
sshKey: {%- if SSHKEY is defined %} {{SSHKEY}}
{% endif -%}
