// ID identifying the cluster to create. Use your username so that resources created can be tracked back to you.
cluster_id = "{{OCPDOMAIN}}"

// Domain of the cluster. This should be "${cluster_id}.${base_domain}".
cluster_domain = "{{OCPDOMAIN}}.{{VM_DOMAIN}}"

// Base domain from which the cluster domain is a subdomain.
base_domain = "{{VM_DOMAIN}}"

// Name of the vSphere server.
vsphere_server = "{{VMWARE_HOST}}"

// User on the vSphere server.
vsphere_user = "{{VMWARE_USER}}"

// Password of the user on the vSphere server.
vsphere_password = "{{VMWARE_PASSWORD}}"

// Name of the vSphere cluster.
{% if CLUSTER is defined -%}vsphere_cluster= "{{CLUSTER}}"{% endif -%}

// Name of the vSphere data center.
vsphere_datacenter = "{{DATACENTER}}"

// Name of the vSphere data store to use for the VMs.
vsphere_datastore = "{{DATASTORE}}"

// Name of the VM template to clone to create VMs for the cluster.
vm_template = "{{TEMPLATENAME}}"

// Name of the VM network to attach to
vm_network = "{{NETWORK}}"

// Name of the folder where the OCP cluster VMs will be created
// The path is relative to the vCenter root
vm_folder = "{{FOLDER}}"

// The name of the Resource Pool where the OCP cluster VMs will be assigned
// The default Resource Pool for the vCenter Cluster is Resources
// You can find all the Resource Pools available with govc find / -type p
vm_resource_pool = "{{CLUSTER}}/host/{{rp_facts.resource_pool_info[0].owner}}/{{rp_facts.resource_pool_info[0].name}}"

// The machine_cidr where IP addresses will be assigned for cluster nodes.
// Additionally, IPAM will assign IPs based on the network ID.
machine_cidr = "192.168.0.0/24"

// The DNS servers:
dns_ips = ["{{VM_IPADDRESS}}","1.1.1.1","8.8.8.8"]

// The gateway IP:
gateway_ip = "{{VM_GATEWAY}}"

// Set ipam and ipam_token if you want to use the IPAM server to reserve IP
// addresses for the VMs.

// Address or hostname of the IPAM server from which to reserve IP addresses for the cluster machines.
//ipam = "139.178.89.254"

// Token to use to authenticate with the IPAM server.
//ipam_token = "TOKEN_FOR_THE_IPAM_SERVER"

// Base URL for accesing the ignition files: bootstrap.ign, master.ign and worker.ign through HTTP.
// This needs to be publicly accessible so that the nodes will pull their ignition files from this source.
ignition_url = "http://{{VM_IPADDRESS}}:8081/ocp4"

// Set bootstrap_ip, control_plane_ip, and compute_ip if you want to use static
// IPs reserved someone else, rather than the IPAM server.

// The IP address to assign to the bootstrap VM.
{% for node in BOOTSTRAPNODE | dict2items(key_name='name', value_name='ip') -%}
bootstrap_name = ["{{node.name}}"]
bootstrap_ip = ["{{node.ip}}"]
bootstrap_memory = ["16384"]
bootstrap_cpus = ["4"]
{% endfor %}


// The IP addresses to assign to the control plane VMs. The length of this list
// must match the value of control_plane_count.
control_plane_count = {{MASTERNODES | length}}
control_plane_names = [{%- set names = [] -%}
{%- for node in MASTERNODES | dict2items(key_name='name', value_name='ip') -%}
{{ names.append('"'+node.name+'"') }}
{%- endfor -%}
{{ names|join(',') }}]
control_plane_ips = [{%- set ips = [] -%}
{%- for node in MASTERNODES | dict2items(key_name='name', value_name='ip') -%}
{{ ips.append('"'+node.ip+'"') }}
{%- endfor -%}
{{ ips|join(',') }}]
control_plane_memory = [{%- set mem = [] -%}
{%- for node in MASTERNODES  -%}
{{ mem.append('"16384"') }}
{%- endfor -%}
{{ mem|join(',') }}]
control_plane_cpus = [
{%- set cpus = [] -%}
{%- for node in MASTERNODES  -%}
{{ cpus.append('"4"') }}
{%- endfor -%}
{{ cpus|join(',') }}]

// The IP addresses to assign to the compute VMs. The length of this list must
// match the value of compute_count.
compute_count = {{WORKERNODES | length}}
compute_names = [{%- set names = [] -%}
{%- for node in WORKERNODES | dict2items(key_name='name', value_name='ip') -%}
{{ names.append('"'+node.name+'"') }}
{%- endfor -%}
{{ names|join(',') }}]
compute_ips = [{%- set ips = [] -%}
{%- for node in WORKERNODES | dict2items(key_name='name', value_name='ip') -%}
{{ ips.append('"'+node.ip+'"') }}
{%- endfor -%}
{{ ips|join(',') }}]
compute_memory = [{%- set mem = [] -%}
{%- for node in WORKERNODES  -%}
{{ mem.append('"16384"') }}
{%- endfor -%}
{{ mem|join(',') }}]
compute_cpus = [
{%- set cpus = [] -%}
{%- for node in WORKERNODES  -%}
{{ cpus.append('"4"') }}
{%- endfor -%}
{{ cpus|join(',') }}]
